<section class="new-users-show">
  <header class="page-header">
    <h1>Login</h1>
  </header>
  <article class="login-user">

  <div class="container mb-5">
  <div class="row justify-content-left">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <%= form_with(url: login_path, method: :post, class: 'needs-validation') do |form| %>
            <% if flash[:alert] %>
              <div id="error_explanation" class="alert alert-danger">
                <p><%= flash[:alert] %></p>
              </div>
            <% end %>

            <div class="mb-3">
              <%= form.label :email, class: 'form-label' %>
              <%= form.email_field :email, class: 'form-control', required: true %>
            </div>

            <div class="mb-3">
              <%= form.label :password, class: 'form-label' %>
              <%= form.password_field :password, class: 'form-control', required: true %>
            </div>

            <div class="mb-3">
              <%= form.submit 'Login', class: 'btn btn-primary btn-block' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <%= link_to 'Back', root_path %>

  </article>

</section>