


<section class="new-users-show">
  <header class="page-header">
    <h1>Sign-up</h1>
  </header>
  <article class="new-user">
  
  <%= form_with(model: @user, url: users_path, method: :post, class: 'needs-validation') do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h3><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h3>
    
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="mb-3 row">
      <div class="col-md-6">
        <%= form.label :first_name, class: 'form-label' %>
        <%= form.text_field :first_name, class: 'form-control', required: true %>
      </div>
  
      <div class="col-md-6">
        <%= form.label :last_name, class: 'form-label' %>
        <%= form.text_field :last_name, class: 'form-control', required: true %>
      </div>
    </div>
  
    <div class="mb-3">
      <%= form.label :email, class: 'form-label' %>
      <%= form.email_field :email, class: 'form-control', required: true %>
    </div>
  
    <div class="mb-3 row">
      <div class="col-md-6">
        <%= form.label :password, class: 'form-label' %>
        <%= form.password_field :password, class: 'form-control', required: true %>
      </div>
  
      <div class="col-md-6">
        <%= form.label :password_confirmation, class: 'form-label' %>
        <%= form.password_field :password_confirmation, class: 'form-control', required: true %>
      </div>
    </div>
  
    <div class="mb-4">
      <%= form.submit 'Sign Up', class: 'btn btn-primary' %>
    </div>
  <% end %>
  
  <%= link_to 'Back', root_path %>

  </article>

</section>